<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayaseya.padnotification"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <!-- i-mobile広告用 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
     Creates a custom permission so only this app can receive its messages.
     このアプリケーションのみが GCM メッセージを受信できるように、カスタム パーミッションを宣言して使用します。
     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
           名前空間（android:name）に"パッケージ名.permission.C2D_MESSAGE"という形で宣言します。
    -->
    <permission
        android:name="com.ayaseya.padnotification.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ayaseya.padnotification.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Required for applications which use Google Play Services. -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ayaseya.padnotification.PadNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
          
          ブロードキャストレシーバーを追加します。
          categoryにはパッケージ名を設定します。
        -->
        <receiver
            android:name="com.ayaseya.padnotification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ayaseya.padnotification" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
          
          IntentServiceを追加登録します。
        -->
        <service android:name="com.ayaseya.padnotification.GcmIntentService" />

        <activity
            android:name="Bastet888Activity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SemiTransparent" >
        </activity>
        <activity android:name="SettingActivity" >
        </activity>

        <!-- i-mobile広告用 -->
        <meta-data
            android:name="i-mobile_DebugLogging"
            android:value="true" />
        <meta-data
            android:name="i-mobile_Publisher_ID"
            android:value="28117" />
    </application>

</manifest>